<div class="Container">
    <h2>{{ message }}</h2>
    <div>
        <form>
            <input class="Textbox" type="text" ng-model="obj.productName" placeholder="Name"/>
            <input class="Textbox" type="text" ng-model="obj.productCategory" placeholder="Category"/>
            <input class="Textbox" type="number" ng-model="obj.productPrice" placeholder="Price".>
            <button class="Button" type="submit" ng-click="addProduct()">{{ button }}</button>
        </form>
    </div>
</div>