<!DOCTYPE html>
<html ng-app="PawnStars">
<head>
    <meta charset='utf-8'/>
    <title>Pawn Stars</title>
	<link rel="stylesheet" type="text/css" href="node_modules/normalize.css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="assets/styles/app.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/angular-toastr/dist/angular-toastr.css" />
</head>
<body class="App" ng-controller="translateCtrl">
	<div class="App__wrapper">
	    <div class="Header">
		    <div class="Lang">
			    <button class="Button" type="button" ng-click="changeLang('en')" translate="BUTTON_LANG_EN">EN</button> |
			    <button class="Button" type="button" ng-click="changeLang('is')" translate="BUTTON_LANG_IS">IS</button>
		    </div>
	        <ul class="Nav">
	            <li class="Nav__item"><a href="#/home" translate="HOME"></a></li>
	            <li class="Nav__item"><a href="#/displaySellers" translate="SELLERS"></a></li>
	            <li class="Nav__item"><a href="#/addSeller" translate="ADDSELLERS"></a></li>
	            <li class="Nav__item"><a href="#/products" translate="TOPPRODUCTS"></a></li>
	            <li class="Nav__item"><a href="#/addProducts" translate="ADDPRODUCTS"></a></li>
	        </ul>
	    </div>
        <div ng-view></div>
	</div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script type="text/javascript" src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script type="text/javascript" src="build/production.js"></script>
</body>
</html>
